@font-face {
font-family: 'Starjedi';
font-style: normal;
font-weight: normal;
src: url('../Media/Starjedi.ttf');
}

#title{
  font-family: 'Starjedi', sans-serif;
  color: #FFD700;
  font-weight: 200;
  font-size: 60px;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

#results_label{
	font-family: sans-serif;
	color: #ffbb00;
	font-weight: 800;
	font-size: 23px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.DisableBtnClass{
	background-color: white;
}